    .nav-link:hover {
        background-color: WHITE !important;
        color: BLACK !important;
    }
    
    .nav-link {
        color: white !important;
        display: flex;
    }
    
    #navv {
        position: sticky;
        top: 0;
        z-index: 10000;
        background-color: black !important;
    }
    
    nav ul {
        width: 100% !important;
        text-align: center !important;
    }
    
    nav ul li {
        width: 50% !important;
        text-align: center !important;
        font-size: 20px !important;
    }
    
    h1 {
        color: black !important;
        font-size: 100px;
    }
    
    #header {
        padding: 0px !important;
        font-family: 'Italianno', cursive;
        background-color: #f7d786 !important;
    }
    
    body {
        font-family: 'Italiana', serif;
        font-size: 25px;
        font-weight: bold;
        background-color: #f7d786;
    }
    
    h2 {
        text-align: center !important;
        font-family: 'Italiana', serif;
        font-size: 35px;
        font-weight: bold;
        background-color: #f7d786 !important;
    }
    
    .cardPara {
        background-color: #f7d786 !important;
    }
    
    h4 {
        text-align: center !important;
        font-family: 'Italiana', serif;
        font-size: 35px;
        font-weight: bold;
    }
    
    img {
        width: 100% !important;
        margin: auto !important;
    }
    
    #cardHead {
        text-align: center !important;
    }
    
    #cardPara {
        text-align: center !important;
    }
    
    .card-title {
        text-align: center !important;
    }
    
    .card-text {
        text-align: center !important;
    }
    
    #recBtn {
        width: 100% !important;
        margin: auto !important;
    }
    
    footer {
        text-align: center !important;
        font-size: 12px !important;
    }
    
    @media only screen and (max-width: 600px) {
        body {
            background-color: #e8ffff;
        }
        #header {
            background-color: #e8ffff !important;
        }
    }
    
    footer {
        background-color: black !important;
        color: white !important;
    }
    
    strong {
        font-size: 18px
    }
    
    #nonLinkFooter {
        font-size: 15px;
    }
    
    .linkFooter {
        font-size: 15px !important;
        color: white !important
    }
    
    #navLinks {
        font-family: 'Italiana', serif;
        font-size: 25px;
        font-weight: bold;
    }
    
    form {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    }
    
    .form-inline button {
        padding: 10px 20px;
        background-color: dodgerblue;
        border: 1px solid #ddd;
        color: white;
        cursor: pointer;
    }
    
    .form-inline button:hover {
        background-color: royalblue;
    }
    
    .formElement {
        display: inline-block;
        width: 15%;
        padding: 10px;
        font-size: 15px;
        text-align: center !important;
        font-weight: bold !important;
    }
    
    .formElementBtn {
        display: inline-block;
        width: 15%;
        padding: 10px;
        margin: auto;
        font-size: 15px;
        text-align: center !important;
        font-weight: bold !important;
    }
    
    @media (max-width: 800px) {
        .formElement {
            display: inline-block;
            width: 100%;
            padding-top: 10px;
            font-size: 15px;
        }
        .formElementBtn {
            display: inline-block;
            width: 100%;
            padding-top: 10px;
            margin: auto;
            font-size: 15px;
        }
    }